/* CSS variable */
:root{
    --text-color:rgba(172, 159, 159, 0.521);
    --header-color:rgba(37, 34, 34, 0.863);
    --background-color:rgba(233, 226, 226, 0.404);
    --sidebar-and-button-color: #16a34ad7;
    --sidebar-text-color:rgb(233, 224, 224);
}
/*CSS reset */
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
 list-style-type: none;   
}
li{
    margin: 1rem 0;
}
/* Smooth scroll */
html{
    scroll-behavior:smooth;
    font-family: "Nunito";
}
/* Button styling */
button{
    width:6rem;
    height:2.4rem;
    background-color: var(--sidebar-and-button-color);
    border:0;
    border-radius: 30px;
    color:var(--sidebar-text-color);
    font-size:1rem;
    font-weight: 700;
    margin:1rem;
}
button:hover{
    background-color: rgb(8, 94, 8);
}
/*Icon styling */
.small-icons{
    width:20px;
}
/* Container styling */
.container{
    display:grid;
    grid-template-rows: 20vh 40vh 40vh;
    grid-template-columns: minmax(16rem,1fr) 5fr;
} 
/*Header position and styling */
.header{
    grid-area: 1/2/2/3;
    padding: 0.5rem 2rem;
}


.first-line,.second-line{
    display:flex;
    margin-bottom:2rem;
}
.search{
    border: 0;
    background-color: var(--background-color);
    border-radius: 20px;
    flex:1;
    font-size:1rem;
    margin-right: 3rem;
    margin-left: 1rem;
    padding: 2px 2rem;
}
.profile{
    width:50px;
    background-color:rgba(200, 238, 245, 0.747);
    padding:1px;
    border-radius: 50%;
    margin: 0 1.5rem;
}
.name{
    font-weight: 700;
    align-self: center;
}

.big.profile{
    margin-left:0;
}
.textarea{
    margin-right:auto;
    font-weight: 700;
}
.textarea>.big.name{
    font-size: 1.5rem;
}
/*Sidebar position and styling */ 
.sidebar{
    height:100vh;
    background-color: var(--sidebar-and-button-color);
    color:var(--sidebar-text-color);
    display: flex;
    flex-direction: column;
    font-weight:700;
    gap:1.25rem;
    grid-area:1/1/4/2;
    letter-spacing: 1px;
    padding:1rem 2rem;
}
.title-icon{
    width:2.5rem;
}
.sidebar svg{
    fill:var(--sidebar-text-color);
    margin-right:1rem;
}

/* Cards position and styling */
.cards{
    padding:2rem;
    grid-area:2/2/4/3;
    display:grid;
    grid-template-rows: 1.5rem min-content 1fr;
    grid-template-columns: 1fr minmax(100px,300px);
    gap:25px;
    background-color: var(--background-color);
    overflow: auto;
}

.title{
    font-weight: 700;
}

.card-container{
    grid-area: 2/1/4/2;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap:20px;
}
.cardss.title{
    grid-area:1/1/2/2;
}
.annoucements-title.title{
    grid-area:1/2/2/3;
    font-size: 1.5rem;
}
.card-title{
    font-weight: 700;
}
.card{
    display:grid;
    grid-template-rows: 1fr 7fr 1fr;
    border-left: 5px solid rgba(233, 164, 61, 0.637);
    background-color: white;
    max-width:400px;
    height:25vh;
    padding: 2rem 1rem;
}
.icon-container{
    display: flex;
    place-self: end;
    gap:15px;
}
/* Annoucements box postion and styling */
.announcements{
    grid-area:2/2/3/3;
    display:flex;
    flex-direction: column;
}
.announcement,.trend{
    padding: 1.5rem 2rem;
    background-color: white;
    border-bottom: 1px dashed black;
}
/* Trends box position and styling */
.trends{
    grid-area:3/2/4/3;
    display:flex;
    flex-direction:column;
}   
.trend{
    display:flex;
}
.trends>.title{
    margin-bottom: 1.5rem;
}
.trend>.profile{
    margin-left:0;
}