/* CSS variable */
:root{
    --text-color:rgb(172, 159, 159);
    --header-color:rgba(37, 34, 34, 0.863);
    --background-color:rgb(247, 236, 236);
    --sidebar-and-button-color: #16a34ad7;
    --sidebar-text-color:rgb(233, 224, 224);
}
/*CSS reset */
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
 list-style-type: none;   
}
li{
    margin: 1rem 0;
}
/* Smooth scroll */
html{
    scroll-behavior:smooth;
    font-family: "Nunito";
}
/* Button styling */
button{
    width:6rem;
    height:2.4rem;
    background-color: var(--sidebar-and-button-color);
    border:0;
    border-radius: 30px;
    color:var(--sidebar-text-color);
    font-size:1rem;
    font-weight: 700;
    margin:1rem;
}
button:hover{
    background-color: rgb(8, 94, 8);
}
/*Icon styling */
.small-icons{
    width:20px;
}
/* Container styling */
.container{
    display:grid;
    grid-template-rows: 20vh 40vh 40vh;
    grid-template-columns: minmax(16rem,1fr) 5fr minmax(16rem,1fr);
} 
/*Header position and styling */
.header{
    grid-area: 1/2/2/4;
    padding: 1rem 2rem;
}


.first-line,.second-line{
    display:flex;
    margin-bottom:2rem;
}
.search{
    border: 0;
    background-color: rgba(213, 235, 240, 0.678);
    border-radius: 20px;
    flex:1;
    font-size:1rem;
    margin-right: 3rem;
    margin-left: 1rem;
    padding: 2px 2rem;
}
.profile{
    width:50px;
    background-color:rgba(200, 238, 245, 0.747);
    padding:1px;
    border-radius: 50%;
    margin: 0 1.5rem;
}
.name{
    font-weight: 700;
    align-self: center;
}

.big.profile{
    margin-left:0;
}
.textarea{
    margin-right:auto;
    font-weight: 700;
}
.textarea>.big.name{
    font-size: 1.5rem;
}
/*Sidebar position and styling */ 
.sidebar{
    background-color: var(--sidebar-and-button-color);
    color:var(--sidebar-text-color);
    display: flex;
    flex-direction: column;
    font-weight:700;
    gap:1.25rem;
    grid-area:1/1/4/2;
    letter-spacing: 1px;
    padding:1rem 2rem;
    
}
.title-icon{
    width:2.5rem;
}
.sidebar svg{
    fill:var(--sidebar-text-color);
    margin-right:1rem;
}

/* Cards position and styling */
.cards{
    grid-area:2/2/4/3;
}

/* Annoucements box postion and styling */
.announcements{
    grid-area:2/3/3/4;
}

/* Trends box position and styling */
.trending{
    grid-area:3/3/4/4;
}   